* {
    box-sizing: border-box;
}
 .navbar-custom {
    background-color: rgb(21, 153, 38);
}

.navbar-brand-custom, .nav-link-custom {
    color: seashell;
}

#smashing-top-image {
    height: 30vh;
    width: 100%;
    overflow: hidden;
}

#article-holder {
    background-color: rgb(21, 153, 38);
    color: seashell;
}

#top-image {
    position: relative;
    text-align: center;
    color: seashell;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #14565A
}